/* src/styles/curriculum.css */

@import './theme.css';

.curriculum-container {
  width: 80vw;
  height: 70vh;
  max-width: 2000px;
  min-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: left;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

.curriculum-title {
  font-size: 27px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.curriculum-description {
  font-size: 18px;
  color: #666;
  text-align: left;
  margin-bottom: 20px;
}

.interest-section {
  margin: 5px;
}

.section-title {
  font-size: 20px;
  text-align: left;
  margin-top: 5px;
}

.interest-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.interest-input {
  flex-grow: 1;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-button {
  padding: 9px 17px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}

.search-button:hover {
  background-color: var(--primary-hover-color);
}

.popular-keywords {
  margin-top: 8px;
  margin-bottom: 20px;
}

.keyword-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.keyword-button {
  padding: 7px 20px;
  font-size: 17px;
  border: 1px solid var(--border-color);
  background-color: white;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.keyword-button:hover {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.extra-info {
  margin-top: 5px;
  margin-bottom: 25px;
  margin-right: 25px;
}

.extra-info-input {
  width: 100%;
  height: 100px;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
}
