/* src/styles/graduation-result.css */

@import './theme.css';

.graduation-intro{
  padding-top: 100px;
  margin-top: -10px;
}

/* 제목 스타일 */
.graduation-title {
  font-size: 32px; /* 제목 크기 확대 */
  font-weight: bold;
  color: #333;
  text-align: left; /* 중앙 정렬 */
  margin-top: 1%;
}

.graduation-description {
  font-size: 18px; /* 설명 텍스트 크기 확대 */
  color: #666;
  text-align: left; /* 중앙 정렬 */
  margin-bottom: 10px; /* 아래 여백 추가 */
}


.graduation-container {
  width: 80vw; /* 화면 너비의 90% */
  max-width: 1700px; /* 최대 2000px까지 확장 */
  min-width: 600px; /* 최소 800px */
  margin: 0 auto;
  height: 60vh;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex; /* flex를 사용해 확장 보장 */
  flex-direction: column; /* 내부 요소 정렬 유지 */
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  align-items: left; /* 중앙 정렬 */
  border-radius: 16px; /* 둥근 모서리 효과 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
}

/* 정보 입력 섹션 스타일 */
.info-section {
  margin-bottom: 30px;
  margin-top: 5px;
}

.info-section-title{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

/* 학과 선택과 학번 선택을 좌우로 배치 */
.form-group-horizontal {
  display: flex; /* 좌우 배치 */
  justify-content: space-between; /* 양쪽 끝으로 배치 */
}

.form-group-horizontal .form-group-text {
  display: block;
  font-size: 16px;
}

.form-group-horizontal .form-group-box {
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
  height: 20px; /* 고정 높이를 제거하여 내용에 따라 높이가 조정되도록 설정 */
  border: 1px solid black;
  border-radius: 15px;
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  margin-top: 10px;
  padding: 10px; /* 내부 여백 추가 */
  padding-left: 15px;
}

.form-group-horizontal .form-group-box p {
  margin: 0; /* 기본 여백 제거 */
  line-height: 1.5; /* 텍스트의 줄 간격 조정 */
  font-size: 16px; /* 글자 크기 조정 */
}

/* 성적표 업로드 영역 스타일 */
.result-section {
  margin-top: 0px;
  margin-bottom: 15px;
  width: 95%;
}

.result-box {
  border: solid #ddd;
  border-radius: 8px;
  padding: 35px;
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: flex-start; /* 세로 방향 위쪽 정렬 */
  align-items: flex-start; /* 가로 방향 왼쪽 정렬 */
  margin-left: 15px;
  width: calc(100% - 30px);
  min-height: 75px;
}

.submit-button {
  display: block;
  width: calc(100% - 39px); /* 버튼 너비를 컨테이너에 맞춤 설정 */
  padding: 12px; /* 버튼 크기 확대 */
  background-color: var(--primary-color); /* 진한 파란색 버튼 */
  color: #fff;
  font-size: 18px; /* 텍스트 크기 확대 */
  border-radius: 8px; /* 둥근 모서리 효과 추가 */
  margin-bottom: 8px;
}

.submit-button:hover {
  background-color: var(--primary-hover-color);
}