/* src/styles/graduation.css */

@import './theme.css';

.graduation-container {
  width: 80vw;
  height: 70vh;
  max-width: 2000px;
  min-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: left;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

/* 제목 스타일 */
.graduation-title {
  font-size: 27px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.graduation-description {
  font-size: 18px;
  color: #666;
  text-align: left;
  margin-bottom: 40px;
}

/* 정보 입력 섹션 스타일 */
.info-section {
  margin-bottom: 30px;
}

.info-section-title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
}

.form-group-horizontal {
  display: flex;
  align-items: center;
  gap: 50px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
}

.form-label {
  font-size: 17px;
  white-space: nowrap;
}

.form-select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}
#department {
  width: 450px;
}

#studentId {
  width: 450px;
}

/* 성적표 업로드 영역 스타일 */
.upload-section {
  margin-top: 10px;
}

.upload-box {
  border: dashed #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.upload-box p {
  font-size: 16px;
}

.form-file {
  display: none;
}

.upload-section-title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 7px;
}

.submit-button {
  display: block;
  width: calc(100%);
  padding: 15px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
}

.submit-button:hover {
  background-color: var(--primary-hover-color);
}