/* src/styles/graduation.css */

@import './theme.css';

.graduation-container {
  width: 80vw;
  max-width: 1700px;
  min-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 30px;
  align-items: left;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.graduation-intro {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 18px;
}

/* 제목 스타일 */
.graduation-title {
  font-size: 27px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.graduation-description {
  font-size: 18px;
  color: #666;
  text-align: left;
  margin-bottom: 40px;
}

/* 정보 입력 섹션 스타일 */
.info-section {
  margin-bottom: 30px;
}

.info-section-title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 15px;
}

.form-group-horizontal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  width: 100%;
  max-width: 95%;
}

.form-group-text {
  display: flex;
  font-size: 16px;
  width: 90%;
  min-width: 70px;
  max-width: 90px;
  margin-left: 7px;
  text-align: center;
  white-space: nowrap;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 0px;
  width: 100%;
  margin-left: 0px;
  max-width: 380px;
}

.form-label {
  font-size: 16px;
  white-space: nowrap;
}

.form-select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

#department,
#studentId {
  width: 400px;
  min-width: 200px;
}

.upload-section {
  margin-top: 10px;
}

.upload-box {
  border: dashed #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 95%;
  margin: 0 auto 10px;
  max-width: 1200px;
}

.upload-box p {
  font-size: 16px;
}

.upload-box p:first-child {
  margin-bottom: 10px;
}

.form-file {
  display: none;
}

.upload-section-title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 7px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  max-width: 1200px;
  margin-left: 15px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: var(--primary-hover-color);
}