@import './theme.css';

.graduation-intro{
  padding-top: 100px;
}

/* 제목 스타일 */
.graduation-title {
  font-size: 32px; /* 제목 크기 확대 */
  font-weight: bold;
  color: #333;
  text-align: left; /* 중앙 정렬 */
}

.graduation-description {
  font-size: 18px; /* 설명 텍스트 크기 확대 */
  color: #666;
  text-align: left; /* 중앙 정렬 */
  margin-bottom: 10px; /* 아래 여백 추가 */
}


.graduation-container {
  width: 80vw; /* 화면 너비의 90% */
  max-width: 1700px; /* 최대 2000px까지 확장 */
  min-width: 600px; /* 최소 800px */
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex; /* flex를 사용해 확장 보장 */
  flex-direction: column; /* 내부 요소 정렬 유지 */
  padding:20px;
  margin-bottom: 10px;
  align-items: left; /* 중앙 정렬 */
  border-radius: 16px; /* 둥근 모서리 효과 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
}

/* 정보 입력 섹션 스타일 */
.info-section {
  margin-bottom: 30px;
}

.info-section-title{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

/* 학과 선택과 학번 선택을 좌우로 배치 */
.form-group-horizontal {
  display: flex; /* 좌우 배치 */
  justify-content: space-between; /* 양쪽 끝으로 배치 */
}

.form-group-horizontal .form-group-text {
  display: block;
  font-size: 16px;
}

.form-group-horizontal .form-group {
  display:block;
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
}

.form-select {
  width: calc(100% - 16px); /* 전체 너비를 차지하도록 설정 */
  margin-top: 10px;
  height: 40px; /* 드롭다운 박스의 세로 길이를 40px로 설정 */
  line-height: 40px; /* 텍스트가 박스 중앙에 정렬되도록 설정 */
  padding: 10px;
}

/* 성적표 업로드 영역 스타일 */
.upload-section {
  margin-top: 0px;
}

.upload-box {
  border: dashed #ddd;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  transition: background-color 0.3s ease;
}


.upload-box.active {
  background-color: #f0f8ff; /* 드래그 중일 때 배경색 변경 */
}

.upload-box p {
  font-size: 14px;
}

.upload-box p:first-child {
  margin-bottom: 10px;
}

.form-file {
  display: none; /* 기본 파일 업로드 버튼 숨김 */
}

.submit-button {
  display: block;
  width: calc(100% - 32px); /* 버튼 너비를 컨테이너에 맞춤 설정 */
  padding: 15px; /* 버튼 크기 확대 */
  background-color: var(--primary-color); /* 진한 파란색 버튼 */
  color: #fff;
  font-size: 18px; /* 텍스트 크기 확대 */
  border-radius: 8px; /* 둥근 모서리 효과 추가 */
}