/* src/styles/index.css */

@import './theme.css';

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100vw;
  padding: 40px 20px;

  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.features-header {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Itim', cursive;
  font-size: 45px;
  color: var(--primary-color);
}

.features-header h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.features-header p {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.feature-card {
  background: white;
  padding: 25px 35px;
  border-radius: 8px;
  text-align: center;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 -4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.feature-icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.feature-title {
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 5px;
}

.feature-description {
  margin-top: 0px;
}

.feature-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 2px;
}

.feature-button:hover {
  background: var(--primary-hover-color);
}

.feature-button svg {
  margin-left: 10px;
  vertical-align: middle;
}
