/* src/styles/signup.css */

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -110px;
}

.signup-header {
  margin-bottom: 8px;
  text-align: center;
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 380px;
  padding: 25px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.input-field,
.email-field {
  border: 0.8px solid var(--primary-color);
  border-radius: 12px;
  font-size: 16px;
  box-sizing: border-box;
  height: 40px;
  text-align: left;
  padding: 18px;
}

.input-field {
  width: 120%;
  max-width: 400px;
}

.email-field {
  width: 70%;
  max-width: 280px;
}

.verification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 10px;
}

.verification-button {
  white-space: nowrap;
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 12px;
  padding: 8px 20px;
  height: 42px;
}

.verification-button:hover {
  background-color: var(--primary-hover-color);
}