/* src/styles/theme.css */

:root {
  --primary-color: #29396e;
  --khu-color: #8f2926;
  --account-color: #855837;
  --border-color: #dbdbdb;
  --placeholder-color: #7a7777;
  --primary-font: 'IBM Plex Sans KR', sans-serif;
}

body {
  font-family: var(--primary-font);
}