/* src/styles/timetable.css */

@import './theme.css';

.timetable-intro {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-top: -80px;
  max-height: 100px;
}

.timetable-title {
  /* font: medium; */
  /* font-size: 27pt; */
  /* font-weight: bold; */
  color: #333;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.timetable-title h1 {
  /* font: medium; */
  font-size: 27pt;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.timetable-description {
  /* font:lighter; */
  /* font-size: 15pt; */
  /* color: #666; */
  text-align: left;
  margin-bottom: 10px;
}

.timetable-description p {
  /* font:lighter; */
  font-size: 15pt;
  color: #666;
}

.upload-box-container {
  display: flex; /* 가로로 배치 */
  flex-wrap: nowrap; /* 줄바꿈 방지 */
  overflow-x: auto; /* 가로 스크롤 활성화 */
  justify-content: center; /* 가운데 정렬 */
  min-height: 200px;
  max-width: 900px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.upload-box-container::-webkit-scrollbar {
  height: 8px; /* 스크롤바 높이 */
}

.upload-box-container::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 스크롤바 색상 */
  border-radius: 4px;
}

.upload-box-container::-webkit-scrollbar-track {
  background-color: #f9f9f9; /* 스크롤바 트랙 색상 */
}

/* 이미지 중앙 정렬 추가 */
.uploaded-content {
  display: flex; /* 플렉스 박스 사용 */
  width: 300px; /* 실질적 적용을 위한 추가 설정 */
  height: 200px;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

/* 개별 업로드 박스 */
.time-upload-box {
  min-width: 220px;
  max-width: 30px;
  height: 300px;
  margin: 10px; /* 박스 간격 */
  border: 2px dashed #ccc;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content: center;
}

/* 시간표 텍스트 스타일 */
.time-upload-box h3 {
  margin-top: 5px; /* 텍스트와 박스 윗부분 간격 조정 */
  margin-bottom: 15px; /* 텍스트와 드롭존 간격 조정 */
  font-size: 16px; /* 텍스트 크기 조정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  max-width: 70px;
}

/* 드롭존 스타일 */
.dropzone {
  width: auto; /* 업로드 박스에 맞춰서 너비 조정 */
  height: auto; /* 업로드 박스 내부 높이에 맞춤 */
  border: 2px dashed #ccc;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-right: -55px;
  padding: 0px;
  max-width: 180px;
}

.dropzone.active {
  border-color: #4caf50;
  background-color: #f0fff0;
}

/* 업로드된 이미지 */
.uploaded-image {
  /* width: auto; */
   /* 업로드 박스 너비에 맞춤 */
  /* height: auto; */
  max-width: 210px;
  max-height: 300px;
  justify-content: center;
  max-height: 20px;
}

/* + 버튼 스타일 */
.add-box-button {
  /* width: auto; */
   /* 버튼 크기 자동 조정 */
  /* height: auto; */
   /* 버튼 높이 자동 조정 */
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  max-width: 1200px;
  margin-left: 15px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: var(--primary-hover-color);
}