.timetable-intro {
  text-align: left; /* 왼쪽 정렬 */
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* 제목 스타일 */
.timetable-title {
  font:medium;
  font-size: 30pt;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.timetable-description {
  font:medium;
  font-size: 17pt;
  color: #666;
  text-align: left;
}

.result-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.uploaded-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-group {
  text-align: center;
}

.image-row {
  display: flex; /* 가로 정렬 */
  gap: 10px; /* 이미지 간격 */
}

.uploaded-image,
.temp-image {
  width: auto;
  height: 370px;
  max-width: 200px;
  max-height: 370px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.temp-image-container {
  display: flex; /* 임시 이미지와 버튼을 세로 정렬 */
  flex-direction: column; /* 세로 방향 배치 */
  align-items: center; /* 중앙 정렬 */
}

.timetable-button-container {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  padding-right: 30px;
  margin-top: 5px;
}

.download-button {
  display: flex;
  align-items: center; 
  margin-top: 10px;
  gap: 8px;
  background-color: var(--border-color);
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  padding: 9px 35px;
  margin-top: 15px;
  margin-left: auto;
}

.download-button svg {
  align-items: center;
}

.download-button:hover {
  background-color: var(--secondary-hover-color);
}
