/* src/styles/welcome.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
}

.top-logo {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.central-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 80px;
  position: relative;
}

.epic-animation {
  text-align: center;
  color: var(--khu-color);
  z-index: 10;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Itim', cursive;
  font-size: 35px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}

.welcome-text h2 {
  /* color: var(--primary-color); */
  color: rgb(76, 69, 69);
  margin-bottom: 0;
  margin-top: 0;
}

.welcome-description {
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #555;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.welcome-description p {
  text-align: center;
  line-height: 1.8;
  font-size: 20px;
}

.welcome-buttons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
}

.btn {
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 180px;
}

.btn-signin {
  background-color: var(--khu-color);
  color: white;
  border: none;
}

.btn-signin:hover {
  background-color: var(--border-color);
}

.btn-signup {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.btn-signup:hover {
  background-color: var(--border-color);
}